#content_section {
    width: 100%;
}

#page_title {
    width: 90%;
}

#user_image_container {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: left;
    margin-top: 1em;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.user_name {
    line-height: 50px;
    font-size: 15pt;
    font-weight: bold;
}   

#user_setting {
    background-color: #f0f0f0c0;
    width: 100%;
    text-align: left;
}

#user_setting span {
    text-align: left;
    padding-left: 2em;
    line-height: 50px;
}

#user_setting > .button {
    height: 50px;
    text-align: left;
    padding-left: 2em;
    line-height: 50px;
}

#user_setting .button:hover {
    background-color: black;
    color: white;
}

#my_account_form {
    margin: 0 auto;
    background-color: #acacacc0;
    width: 100%;
}

#my_account_form form {
    width: 85%;
    margin: 0 auto;
    padding-top: 1em;
    line-height: 10px;
    text-align: left;
    padding-bottom: 1em;
}