/*
Custome CSS for event_hisotry.html
@author Ravinder Shokar 
@version 1.0
*/

#tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #EE964b;
    line-height: 50px;
}

.tab {
    width: 100%;
    display: inline-block;
    line-height: 50px;
    color: white;
}

.tab:hover {
    background-color: white;
    color: black;
}
