@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    text-align: center;
}

#exposures {
    height: 400px;
    overflow: auto;
}



table {

    text-align: left;
    width: 40%;
    margin: 0 auto;
    border-spacing: 0;
}

thead th {
    background-color: #deb887;
    position: sticky;
    top: 0;
}

tfoot th {
    background-color: #32a88d;
    position: sticky;
    bottom: 0;
}
* {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#center {

    text-align: center;
}
p {
    text-align: center;
    font-size: 20%;
    color: gray;
}

#login {
    position: relative;
    left: 510%;
}

#button {
    position: relative;
    top: 60%;
}

#button2 {
    position: relative;
    top: 67%;
}

#loginText {
    position: relative;
    left: 19%;
    top: 40%;
}

#loginText2 {
    position: relative;
    left: 30%;
    top: 30%;
}

/*
#event {
    position: relative;
    left: 570%;
}
*/
#mInfo {
    position: relative;
    top: 100%;
    left: 36%;
}

#mInfoExt {
    position: relative;
    top: 110%;
    left: 31.5%;
}

#mInfoTxt {
    font-size: 110%;
}

#features {
    position: relative;
    top: 130%;
    left: 41%;
}

#fTxt {
    font-size: 200%;
}

#featuresTxt {
    position: relative;
    top: 139%;
    left: 35%;
}


#nav_container a {
    color: white;
}

#desktop-nav-bar{
    background: #4fcdff;
    /*background: linear-gradient(90deg, rgba(2,191,255,1) 0%, rgba(79,205,255,1) 50%, rgba(2,191,255,1) 100%);
    */
}

.mobile-bottom-nav {
    visibility: hidden;
}





#page_title {
    margin: auto;
    width: 100%;
    height: 45px;
}

#page_title h1 {
    text-align: left;
    line-height: 50px;
}


/* Desktop */
@media only screen and (min-width : 1081px) {
}

/* Tablet Devices */
@media only screen and  (min-width : 601px) and (max-width : 1080px) {
}

/*  Mobile Devices */
@media screen and (max-width: 600px) {

    #content_section {
        width: 100%;
    }

    #page_title h1 {
        text-align: left;
    }

    #desktop-nav-bar {
        display: none;
    }

    .mobile-bottom-nav {
        visibility: visible;
    }

    .mobile-bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        height: 50px;
        background: #58C1EE;
        /*background: linear-gradient(90deg, rgba(2,191,255,1) 0%, rgba(79,205,255,1) 50%, rgba(2,191,255,1) 100%);
        */
    }
    .mobile-bottom-nav i {
        color: rgb(255, 255, 255);
    }

    .mobile_nav_links {
        display: block;
    }

    #mobile_nav_links img, 
    #mobile_nav_links span {
        display: block;
    }
    .mobile-bottom-nav__item {
        flex-grow: 1;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile-bottom-nav__item--active {
      color: red;
    }
    .mobile-bottom-nav__item-content {
      display: flex;
      flex-direction: column;
    }

    .mobile-nav-bar-icon {
        display: inline-block;
        margin: auto;
        height: 2vh;
        width: 2vh;
    }
    

    #loginText {
        position: relative;
        left: 1%;
        top: 40%;
    }

    #loginText2 {
        position: relative;
        left: 10%;
        top: 30%;
    }

    #button {
        position: absolute;
        top: 60%;
        right: 180%;
    }
    
    #button2 {
        position: absolute;
        top: 70%;
        right: 155%;
    }

    #mInfo {
        position: relative;
        top: 93%;
        left: 20%;
    }
    
    #mInfoExt {
        position: relative;
        top: 100%;
        left: 1%;
    }

    #features {
        position: relative;
        top: 130%;
        left: 33%;
    }    

    #featuresTxt {
        position: relative;
        top: 135%;
        left: 15%;
    }

    #fTxt {
        font-size: 150%;
    }
}

#eventlist {
    overflow-y: scroll;
    overflow: hidden;
}
.booking {
    padding-top: 5em;
}

/*bookingconfirm css (mobile) */

.people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
